/* @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); */
/* @import url(https://fonts.googleapis.com/css?family=Hind:400,300,500,600,700); */
/* @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400italic,300italic); */


body {
  background: #fff;
  font-family: "Stolzl Book", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
  letter-spacing: -1px;
}

p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Stolzl Book", Arial, Helvetica Neue, Helvetica, sans-serif;
  letter-spacing: 0.5px;
}

b,
strong {
  font-weight: 700;
}

a {
  color: #333;
}

a:hover {
  color: #336a86;
}

a,
a:hover,
a:focus,
button,
button:hover {
  outline: 0;
  text-decoration: none;
  transition: .4s;
}


ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.space10 {
  margin-bottom: 10px;
}

.space20 {
  margin-bottom: 20px;
}

.space30 {
  margin-bottom: 30px;
}

.space40 {
  margin-bottom: 40px;
}

.space50 {
  margin-bottom: 50px;
}

.space60 {
  margin-bottom: 60px;
}

.space70 {
  margin-bottom: 70px;
}

.space80 {
  margin-bottom: 80px;
}

.space90 {
  margin-bottom: 90px;
}

.space100 {
  margin-bottom: 100px;
}

.boxed {
  background: #111 url(../images/bg/pattern.png) repeat fixed;
}

.boxed .body {
  background: #fff;
  position: relative;
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
  overflow: hidden;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.boxed .navbar-fixed-top {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url('/_assets/fonts/ubuntu-v12-cyrillic_latin-300.eot');
  /* IE9 Compat Modes */
  src: local('Ubuntu Light'), local('Ubuntu-Light'),
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-300.woff') format('woff'),
    /* Modern Browsers */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-300.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-300.svg#Ubuntu') format('svg');
  /* Legacy iOS */
}

/* ubuntu-300italic - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: url('/_assets/fonts/ubuntu-v12-cyrillic_latin-300italic.eot');
  /* IE9 Compat Modes */
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'),
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-300italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-300italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-300italic.woff') format('woff'),
    /* Modern Browsers */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-300italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-300italic.svg#Ubuntu') format('svg');
  /* Legacy iOS */
}

/* ubuntu-regular - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('/_assets/fonts/ubuntu-v12-cyrillic_latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-regular.svg#Ubuntu') format('svg');
  /* Legacy iOS */
}

/* ubuntu-italic - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: url('/_assets/fonts/ubuntu-v12-cyrillic_latin-italic.eot');
  /* IE9 Compat Modes */
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'),
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-italic.woff') format('woff'),
    /* Modern Browsers */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-italic.svg#Ubuntu') format('svg');
  /* Legacy iOS */
}

/* ubuntu-500 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('/_assets/fonts/ubuntu-v12-cyrillic_latin-500.eot');
  /* IE9 Compat Modes */
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-500.woff') format('woff'),
    /* Modern Browsers */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-500.svg#Ubuntu') format('svg');
  /* Legacy iOS */
}

/* ubuntu-500italic - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  src: url('/_assets/fonts/ubuntu-v12-cyrillic_latin-500italic.eot');
  /* IE9 Compat Modes */
  src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'),
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-500italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-500italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-500italic.woff') format('woff'),
    /* Modern Browsers */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-500italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-500italic.svg#Ubuntu') format('svg');
  /* Legacy iOS */
}

/* ubuntu-700 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('/_assets/fonts/ubuntu-v12-cyrillic_latin-700.eot');
  /* IE9 Compat Modes */
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-700.svg#Ubuntu') format('svg');
  /* Legacy iOS */
}

/* ubuntu-700italic - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: url('/_assets/fonts/ubuntu-v12-cyrillic_latin-700italic.eot');
  /* IE9 Compat Modes */
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'),
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-700italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-700italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-700italic.woff') format('woff'),
    /* Modern Browsers */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-700italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/_assets/fonts/ubuntu-v12-cyrillic_latin-700italic.svg#Ubuntu') format('svg');
  /* Legacy iOS */
}

/*
	----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
/* oswald-200 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  src: url('/_assets/fonts/oswald-v16-cyrillic_latin-200.eot');
  /* IE9 Compat Modes */
  src: local('Oswald ExtraLight'), local('Oswald-ExtraLight'),
    url('/_assets/fonts/oswald-v16-cyrillic_latin-200.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-200.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-200.woff') format('woff'),
    /* Modern Browsers */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-200.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-200.svg#Oswald') format('svg');
  /* Legacy iOS */
}

/* oswald-300 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url('/_assets/fonts/oswald-v16-cyrillic_latin-300.eot');
  /* IE9 Compat Modes */
  src: local('Oswald Light'), local('Oswald-Light'),
    url('/_assets/fonts/oswald-v16-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-300.woff') format('woff'),
    /* Modern Browsers */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-300.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-300.svg#Oswald') format('svg');
  /* Legacy iOS */
}

/* oswald-regular - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('/_assets/fonts/oswald-v16-cyrillic_latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Oswald Regular'), local('Oswald-Regular'),
    url('/_assets/fonts/oswald-v16-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-regular.svg#Oswald') format('svg');
  /* Legacy iOS */
}

/* oswald-500 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url('/_assets/fonts/oswald-v16-cyrillic_latin-500.eot');
  /* IE9 Compat Modes */
  src: local('Oswald Medium'), local('Oswald-Medium'),
    url('/_assets/fonts/oswald-v16-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-500.woff') format('woff'),
    /* Modern Browsers */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-500.svg#Oswald') format('svg');
  /* Legacy iOS */
}

/* oswald-600 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: url('/_assets/fonts/oswald-v16-cyrillic_latin-600.eot');
  /* IE9 Compat Modes */
  src: local('Oswald SemiBold'), local('Oswald-SemiBold'),
    url('/_assets/fonts/oswald-v16-cyrillic_latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-600.woff') format('woff'),
    /* Modern Browsers */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-600.svg#Oswald') format('svg');
  /* Legacy iOS */
}

/* oswald-700 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url('/_assets/fonts/oswald-v16-cyrillic_latin-700.eot');
  /* IE9 Compat Modes */
  src: local('Oswald Bold'), local('Oswald-Bold'),
    url('/_assets/fonts/oswald-v16-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/_assets/fonts/oswald-v16-cyrillic_latin-700.svg#Oswald') format('svg');
  /* Legacy iOS */
}

/* */
@font-face {
  font-family: 'HeliosCond';
  src: url('/_assets/fonts/HeliosCond-Bold.eot');
  src: local('/_assets/fonts/HeliosCond Bold'), local('HeliosCond-Bold'),
    url('/_assets/fonts/HeliosCond-Bold.eot?#iefix') format('embedded-opentype'),
    url('/_assets/fonts/HeliosCond-Bold.woff') format('woff'),
    url('/_assets/fonts/HeliosCond-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosCond';
  src: url('/_assets/fonts/HeliosCond-Bold-Italic.eot');
  src: local('/_assets/fonts/HeliosCond Bold Italic'), local('HeliosCond-Bold-Italic'),
    url('/_assets/fonts/HeliosCond-Bold-Italic.eot?#iefix') format('embedded-opentype'),
    url('/_assets/fonts/HeliosCond-Bold-Italic.woff') format('woff'),
    url('/_assets/fonts/HeliosCond-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'HeliosCond';
  src: url('/_assets/fonts/HeliosCond-Italic.eot');
  src: local('/_assets/fonts/HeliosCond Italic'), local('HeliosCond-Italic'),
    url('/_assets/fonts/HeliosCond-Italic.eot?#iefix') format('embedded-opentype'),
    url('/_assets/fonts/HeliosCond-Italic.woff') format('woff'),
    url('/_assets/fonts/HeliosCond-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'HeliosCond';
  src: url('/_assets/fonts/HeliosCond.eot');
  src: local('/_assets/fonts/HeliosCond Regular'), local('HeliosCond'),
    url('/_assets/fonts/HeliosCond.eot?#iefix') format('embedded-opentype'),
    url('/_assets/fonts/HeliosCond.woff') format('woff'),
    url('/_assets/fonts/HeliosCond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl';
  src: url('/_assets/fonts/Stolzl-Light.eot');
  src: local('Stolzl Light'), local('/_assets/fonts/Stolzl-Light'),
    url('/_assets/fonts/Stolzl-Light.eot?#iefix') format('embedded-opentype'),
    url('/_assets/fonts/Stolzl-Light.woff2') format('woff2'),
    url('/_assets/fonts/Stolzl-Light.woff') format('woff'),
    url('/_assets/fonts/Stolzl-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl';
  src: url('/_assets/fonts/Stolzl-Thin.eot');
  src: local('Stolzl Thin'), local('/_assets/fonts/Stolzl-Thin'),
    url('/_assets/fonts/Stolzl-Thin.eot?#iefix') format('embedded-opentype'),
    url('/_assets/fonts/Stolzl-Thin.woff2') format('woff2'),
    url('/_assets/fonts/Stolzl-Thin.woff') format('woff'),
    url('/_assets/fonts/Stolzl-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl Book';
  src: url('/_assets/fonts/Stolzl-Book.eot');
  src: local('Stolzl Book'), local('/_assets/fonts/Stolzl-Book'),
    url('/_assets/fonts/Stolzl-Book.eot?#iefix') format('embedded-opentype'),
    url('/_assets/fonts/Stolzl-Book.woff2') format('woff2'),
    url('/_assets/fonts/Stolzl-Book.woff') format('woff'),
    url('/_assets/fonts/Stolzl-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl';
  src: url('/_assets/fonts/Stolzl-Regular.eot');
  src: local('Stolzl Regular'), local('/_assets/fonts/Stolzl-Regular'),
    url('/_assets/fonts/Stolzl-Regular.eot?#iefix') format('embedded-opentype'),
    url('/_assets/fonts/Stolzl-Regular.woff2') format('woff2'),
    url('/_assets/fonts/Stolzl-Regular.woff') format('woff'),
    url('/_assets/fonts/Stolzl-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl';
  src: url('/_assets/fonts/Stolzl-Bold.eot');
  src: local('Stolzl Bold'), local('/_assets/fonts/Stolzl-Bold'),
    url('/_assets/fonts/Stolzl-Bold.eot?#iefix') format('embedded-opentype'),
    url('/_assets/fonts/Stolzl-Bold.woff2') format('woff2'),
    url('/_assets/fonts/Stolzl-Bold.woff') format('woff'),
    url('/_assets/fonts/Stolzl-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl';
  src: url('/_assets/fonts/Stolzl-Medium.eot');
  src: local('Stolzl Medium'), local('/_assets/fonts/Stolzl-Medium'),
    url('/_assets/fonts/Stolzl-Medium.eot?#iefix') format('embedded-opentype'),
    url('/_assets/fonts/Stolzl-Medium.woff2') format('woff2'),
    url('/_assets/fonts/Stolzl-Medium.woff') format('woff'),
    url('/_assets/fonts/Stolzl-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Preloader
-----------------------------------------------*/

#before-load {
  position: fixed;
  /*фиксированное положение блока*/
  left: 0;
  /*положение элемента слева*/
  top: 0;
  /*положение элемента сверху*/
  right: 0;
  /*положение элемента справа*/
  bottom: 0;
  /*положение элемента снизу*/
  background: #fff;
  /*цвет заднего фона блока*/
  z-index: 1001;
  /*располагаем его над всеми элементами на странице*/
}

#before-load i {
  position: absolute;
  /*положение абсолютное, позиционируется относительно его ближайшего предка*/
  left: 50%;
  /*слева 50% от ширины родительского блока*/
  top: 50%;
  /*сверху 50% от высоты родительского блока*/
  margin: -35px 0 0 -35px;
  /*смещение иконки, чтобы она располагалась по центру*/
}

#before-load i {
  /* 	font-size: 70px; /* размер шрифта */
  width: 70px;
  /*ширина gif-изображения*/
  height: 70px;
  /*высота gif-изображения*/
  position: absolute;
  left: 50%;
  top: 50%;
  background: url('../images/Position.gif') no-repeat 50% 50%;
  /*расположение (url) изображения gif и др. параметры*/
  margin: -35px 0 0 -35px;
}

/*
	----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/

.vh-content {
  min-height: calc(100vh - 200px)
}

.space10 {
  margin-bottom: 10px;
}

.space20 {
  margin-bottom: 20px;
}

.space30 {
  margin-bottom: 30px;
}

.space40 {
  margin-bottom: 40px;
}

.space50 {
  margin-bottom: 50px;
}

.space60 {
  margin-bottom: 60px;
}

.space70 {
  margin-bottom: 70px;
}

.space80 {
  margin-bottom: 80px;
}

.space90 {
  margin-bottom: 90px;
}

.space100 {
  margin-bottom: 100px;
}

table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected {
  background-color: #d3d5d8;
}